version: "3.8"

services:
  postgres:
    image: postgres:16
    container_name: taskdb-postgres
    environment:
      POSTGRES_DB: taskdb
      POSTGRES_USER: taskuser
      POSTGRES_PASSWORD: taskpass
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: taskdb-redis
    ports:
      - "6379:6379"

volumes:
  pgdata:
